@import "tailwindcss";

.card {

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;

}

@keyframes reveal {
   
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Hide scrollbar but keep scroll */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}
